// color
$color-primary: #409EFF;

// text color
$color-text-primary: #303133;
$color-text-regular: #606266;

// backgroun color
$background-color-base: #F5F7FA;

// border color
$border-color-base: #DCDFE6;
$border-color-light: #E4E7ED;
$border-color-lighter: #EBEEF5;
$border-color-extra-light: #F2F6FC;

// z-index
$header-z-index: 1000px;